---
title: "Passionate Paprika"
layout: default
description: "The official Passionate Paprika Website for excellent food recipes to keep that tummy happy"
image: "/assets/images/used/logo-large.png"
---

<section class="mt-4 mb-5">
    
    <div class="container mb-4">
        <!-- <h1 class="font-weight-bold title">Explore</h1>     -->
        <div class="row">
        {% include menu-categories.html %}
        </div>
    </div>

 <div class="crazyScroll">   
<div class="container-fluid karan">
    
    <div class="card-columns">        
        {% for post in paginator.posts %}
            {% include card-post.html %}
        {% endfor %}            
    </div>

    <div class="row justify-content-center mt-5 paygee">
     <!-- Pagination links -->
        {% if paginator.total_pages > 1 %}
        <div class="pagination"> 
          {% if paginator.previous_page %}
            <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="prev">&laquo; Prev</a>
          {% else %}
            <span class="prev">&laquo; Prev</span>
          {% endif %}

          {% for page in (1..paginator.total_pages) %}
            {% if page == paginator.page %}
              <span class="webjeda">{{ page }}</span>
            {% elsif page == 1 %}
              <a href="{{site.baseurl}}/">{{ page }}</a>
            {% else %}
              <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
            {% endif %}
          {% endfor %}

          {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="next">Next &raquo;</a>
          {% else %}
            <span class="next">Next &raquo;</span>
          {% endif %}
        </div>
        {% endif %}      
    </div>
    <script type="text/javascript">
      // content selector is used to extract the additional items 
      $('.crazyScroll').jscroll({
          
          nextSelector: '.next',
          contentSelector: '.crazyScroll',
          loadingHtml: '<p><div class="text-muted text-center font-weight-light">More yummy loading...</div></p>'
      });
      console.log('Hello world')
    </script>


</div>
</div>    
  
</section>