---
layout: default
---
<section class="bg-gray200 pt-5 pb-5">    
    <div class="container">
    	<div class="row justify-content-center">
    		<div class="col-md-11">     
    			<article class="card">      
              {% if page.image %} 
                <span class="pinme">
                    <a data-pin-do="buttonPin" data-pin-tall="true" href="https://www.pinterest.com/pin/create/button/?url={{site.url}}{{site.baseurl}}{{page.url}}&media={{site.url}}{{site.baseurl}}/{{page.image}}&description={{ page.title }}- {{ page.content | strip_html | truncatewords:25 }}"></a>
                </span>
                <img class="card-img-top mb-2" src="{% if page.image contains "://" %}{{ page.image }}{% else %}{{ page.image | absolute_url }}{% endif %}" alt="{{ page.title }}"> 
              {% endif %}
            
    			<div class="card-body">      
    				<h1 class="display-4">
    				    {{page.title}}
            </h1>
            
            
            <small class="text-muted d-block mb-3">
                {% unless page.metadate == "hide" %} 
                    {{ page.date | date: '%B %d, %Y' }} 
                {% endunless %}
                {% if page.author %}
                    , by {{page.author | capitalize}} 
                {% endif %}
            </small>
            {{ content }}
            </br>
            {% for category in site.categories %}
              {% if page.categories contains category[0] %}
                <h4>You might also like:</h4>
                <div class="container-fluid">
                  <div class="card-columns">
                    {% for post in category[1] %}
                      {% if post.title != page.title and forloop.index <= 5 %}
                        {% include card-post.html %}
                      {% endif %}
                    {% endfor %}
                  </div>
                </div>
              {% endif %}
            {% endfor %}
            <p>
              <div class="small font-italic">Follow us on social media</div>
            </p>
            <li class="d-inline-block ml-1 mr-1"><a target="_blank" href="https://facebook.com/Passionatepaprika/" class="text-dark"><i class="fab fa-facebook-f fa-lg"></i></a>
            </li>
            
            <li class="d-inline-block ml-1 mr-1"><a target="_blank" href="https://www.instagram.com/passionatepaprika/" class="text-dark"><i class="fab fa-instagram fa-lg text-danger"></i></a></li>
            
    				{% include comments.html %}
                    
    			</div>  
                    
    			</article>
                
                <div class="PageNavigation">
                  {% if page.next.url %}
                    <a class="prev" href="{{site.baseurl}}{{page.next.url}}"><i class="fa fa-angle-left mobbutton"></i> </a>
                  {% endif %}
                  {% if page.previous.url %}
                    <a class="next" href="{{site.baseurl}}{{page.previous.url}}"><i class="fa fa-angle-right mobbutton"></i></a>
                  {% endif %}
                </div>
                
    		</div>
    	</div>
    </div>
</section>