---
layout: default
---
<section class="bg-gray200 pt-5 pb-5">    
    <div class="container">
    	<div class="row justify-content-center">
    		<div class="col-md-11">     
    			<article class="card">      
              {% if page.image %} 
                <span class="pinme">
                    <a data-pin-do="buttonPin" data-pin-tall="true" href="https://www.pinterest.com/pin/create/button/?url={{site.url}}{{site.baseurl}}{{page.url}}&media={{site.url}}{{site.baseurl}}/{{page.image | prepend: site.imageBaseURL}}&description={{ page.title }}- {{ page.content | strip_html | truncatewords:25 }}"></a>
                </span>
                <img class="card-img-top mb-2" src="{% if page.image contains "://" %}{{ page.image }}{% else %}{{ page.image | prepend: site.imageBaseURL }}{% endif %}" alt="{{ page.title }}"> 
              {% endif %}
            
    			<div class="card-body">      
    				<h1 class="display-4">
    				    {{page.title}}
            </h1>
            
            
            <small class="text-muted d-block mb-3">
                {% unless page.metadate == "hide" %} 
                    {{ page.date | date: '%B %d, %Y' }} 
                {% endunless %}
                {% if page.author %}
                    , by {{page.author | capitalize}} 
                {% endif %}
            </small>
    				{{ content }}        
            
            <p>
              <div class="small font-italic">Follow us on social media</div>
            </p>
            <li class="d-inline-block ml-1 mr-1"><a target="_blank" href="https://facebook.com/Passionatepaprika/" class="text-dark"><i class="fab fa-facebook-f fa-lg"></i></a>
            </li>
            
            <li class="d-inline-block ml-1 mr-1"><a target="_blank" href="https://www.instagram.com/passionatepaprika/" class="text-dark"><i class="fab fa-instagram fa-lg text-danger"></i></a></li>
            <!--
            {% if page.visit %}
            <p><a target="_blank" href="{{page.visit}}" class="btn btn-gray d-block font-weight-bold ">
                Visit <i class="fas fa-external-link-alt"></i></a>
            </p>
            {% endif %}
            -->
            
            <!-- Categories tag suggestions at the end of every post
            {% for category in page.categories %}
              <a class="btn btn-sm btn-primary mt-2" href="{{site.baseurl}}/categories.html#{{ category | downcase }}">
                # {{ category | downcase }}
              </a>
            {% endfor %}
            -->        

            <!--div class="container-fluid">
                <div class="card-columns">
                {% for category in site.categories %}
                </div> 
                <h3 class="mt-4 display-4" id="{{ category[0] | downcase }}"><small class="text-muted">#</small> {{ category[0] }}</h3><hr>
                <div class="card-columns">
                    {% assign pages_list = category[1] %}
                    {% for post in pages_list %}
                      {% if post.title != null %}
                          {% if group == null or group == post.group %}
                            {% include card-post.html %}
                          {% endif %}
                      {% endif %}
                    {% endfor %}
                    {% assign pages_list = nil %}
                    {% assign group = nil %}
                {% endfor %}
                </div>
            </div-->
    				{% include comments.html %}
                    
    			</div>  
                    
    			</article>
                
                <div class="PageNavigation">
                  {% if page.next.url %}
                    <a class="prev" href="{{site.baseurl}}{{page.next.url}}"><i class="fa fa-angle-left mobbutton"></i> </a>
                  {% endif %}
                  {% if page.previous.url %}
                    <a class="next" href="{{site.baseurl}}{{page.previous.url}}"><i class="fa fa-angle-right mobbutton"></i></a>
                  {% endif %}
                </div>
                
    		</div>
    	</div>
    </div>
</section>